.titulo {
    color: black;
    font-family: "Trykker", serif;
}

.texto-tarjeta {
    min-height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.accion-container {
    margin-top: 30px;
    padding-bottom: 10px;
    max-width: 600px;
    overflow-x: auto;
    white-space: nowrap;
}

.accion-usuario {
    display: inline-block;
    margin: 0 10px;
}

.accion-usuario:hover {
    box-shadow: 0px 2px #0d6efd;
    transform: translateY(-2px);
}

.accion-usuario.active {
    box-shadow: 0px 2px #0d6efd;
    transform: translateY(-2px);
}

.border-custom {
    border-right: none;
    border-bottom: 1px solid #dee2e6;
}

@media (min-width: 768px) {
    .accion-container {
        margin-top: 0px;
        padding-bottom: 0px;
        overflow-x: hidden;
    }

    .border-custom {
        border-right: 1px solid #dee2e6;
        border-bottom: none;
    }
}